body{background-color:#5bd487;
    margin:0px;}
button{border:0px;}
#header{height:50px;
       top:0;
       right:0;
       background-color:#317846;}
#ct{height:50px;
    width:100px;
    top:0px;
    left:0;
    background-color:#84c6f5;
   float:right;
   text-align: center;}
a:link, a:visited {
  color: white;
  text-decoration: none;
  cursor: auto;
font-size:20px;
}
#hm{height:50px;
    width:100px;
    top:0px;
    left:100px;
    background-color:#84c6f5;
   float:right;
   text-align: center;}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
